{% extends 'empbase.html' %}
{% load static %}
{% block employee %}
<h3>Track History</h3>
<div class="row">
    <div class="col-sm-8">
        <div class="card p-4">
            <h4>File No - {{file.file_no}}</h4>
            <table class="table">
                <tr>
                    <th>Title</th>
                    <td>{{file.title}}</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{file.subject}}</td>
                </tr>
                <tr>
                    <th>Initiated By</th>
                    <td>{{file.initiated_by.name}}</td>
                </tr>
                <tr>
                    <th>Current Holder</th>
                    <td>{{file.current_holder.name}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{file.status}}</td>
                </tr>
                <tr>
                    <th>Initiated Date</th>
                    <td>{{file.created_at}}</td>
                </tr>
                <tr>
                    <th>File Attachment</th>
                    <td>
                        {% if file.file_attachment %}
                        <a href="{{ file.file_attachment.url }}" target="_blank" class="btn btn-success btn-sm">
                            View File
                        </a>
                        {% else %}
                        No file attached
                        {% endif %}

                    </td>
                </tr>
            </table>
        </div>
        <div class="card p-4">
            <h4>Track History</h4>
            {% for fm in file_movements %}
            <div class="card p-3">
                <p><i class="ti ti-calendar">{{fm.moved_at}}</i></p>
                <p class="fw-bold">From : {{fm.from_employee.name}} ({{fm.from_employee.email}}) <br> <i
                        class="ti ti-arrow-down fw-bold"></i> <br> To : {{fm.to_employee.name}}
                    ({{fm.to_employee.email}})</p>
                <p>Action : {{fm.action}}</p>
                <p>Remark : {{fm.remarks}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">

        <div class="card p-4">
            <h4 class="mb-3">FORWARD</h4>
            <form method="post">
                {% csrf_token %}
                <div class="card p-2">
                    <h6>From</h6>
                    <p>{{emp.name}} ({{emp.email}})</p>
                </div>
                <div class="card p-2">
                    <h6>To</h6>
                    <select name="emp_email" id="" class="form-select">
                        <option value="" selected disabled>Select Employee</option>
                        {% for emp in employees %}
                        <option value="{{emp.email}}">
                            {{emp.name}} ({{emp.department.dept_name}}) -- {{emp.email}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card p-2">
                    <h6>Action</h6>
                    <select name="action" id="" class="form-select">
                        <option value="" selected disabled>Select action</option>
                        <option value="FORWARD">Forward</option>
                        <option value="RETURN">Return</option>
                        <option value="CLOSE">Close</option>
                    </select>
                </div>
                <div class="card p-2">
                    <h6>Remark</h6>
                    <textarea name="remarks" id="" class="form-control"></textarea>

                </div>
                <button type="submit" class="btn btn-primary w-100">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}