{% extends 'empbase.html'%}
{% load static %}
{% block employee %}
 
<div class="row mt-3">
    <div class="col-sm-10 mx-auto">
        <div class="card p-4 shadow">
            <h3 style="text-align: center;">Initiate File</h3>
             
            <form method="post" enctype="multipart/form-data" class="row g-4" >
                {% csrf_token %}
                <div class="col-sm-12">
                    <lable for="title" class="form-label">Title</lable>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                 <div class="col-sm-12 ">
                    <lable for="sub" class="form-label">Subject</lable>
                    <input type="text" name="subject" id="sub" class="form-control">
                </div>
                  <div class="col-sm-12">
                    <label for="fa" class="form-lebel">File Attachment</label>
                    <input type="file" name="file_attachment" id="fa" class="form-control">
                 </div>
                 <h5>Forward To</h5>
                 <div class="col-sm-12">
                    <label for="emp">Select Employee</label>
                    <select name="emp_id" id="emp" class="form-control">
                        <option value="" selected disabled>Select Employee</option>
                        {% for emp in employees %}
                        <option value="{{emp.email}}">
                            {{emp.name}} ({{emp.department.dept_name}}) -- {{emp.email}}
                        </option>
                        {% endfor %}
                    </select>


                 </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}