{% extends 'empbase.html' %}
{% load static %}
{% block employee %}
 
<div class="row">
    <div class="col-sm-11 mx-auto">
        <div class="card p-4">
            <h3 style="text-align: center;">Recieved Files</h3>
            <hr>
            <table class="table">
                <th>
                    
                    <td>File Id</td>
                    <td>Title</td>
                    <td>Subject</td>
                    <td>Initiated By</td>
                    <td>Status</td>
                    <td>File Attachment</td>
                    <td>Action</td>
                </th>
                {% for f in files %}
                <tr>
                    <td></td>
                    <td>{{f.file_no}}</td>
                    <td>{{f.title}}</td>
                    <td>{{f.subject}}</td>
                    <td>{{f.initiated_by.name}}</td>
                    <td>{{f.status}}</td>

                    <td>
                        {% if f.file_attachment %}
                        <a href="{{f.file_attachment.url}}"  target="_blank">View File</a>
                        {% else %}
                        No file attached
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'filedetails' fid=f.file_no  %}" class="btn btn-primary">
                            <i class="ti ti-eye"></i>View Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}